{% extends 'layout.html' %}

{% block content %}
    <div class="container">
    <!--Contactenos -->
    <div class="Integrantes">
        <h1>Contactenos!</h1>
        <P>

        <div class="Intg">
            <div class="foto">
                <img src="https://icons.veryicon.com/png/o/miscellaneous/icon_1/address-60.png" alt="Foto3" width="200" height="200" class="imagen">
            </div>
            <div class="pie">
                <h3> Direccion </h3>
                <p>  </p>
            </div>
        </div>
        <div class="Intg">
            <div class="foto">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" alt="Foto3" width="200" height="200" class="imagen">
            </div>
            <div class="pie">
                <h3> Llamenos </h3>
                <p> +503 76655444  </p>
            </div>
        </div>
        <div class="Intg">
            <div class="foto">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4n_urpJ9XpwOTdzBVbGvactwHrPagYQrTJPYjxfxLGkSyu7nJZVqRVGAeohnPgKMrnKE&usqp=CAU" alt="Foto3" width="200" height="200" class="imagen">
            </div>
            <div class="pie">
                <h3> Redes Sociales </h3>
                <p> @LosPollosHermanos </p>
            </div>
        </div>
{% endblock %}